
.app-container {
    width: 100vw;
    height: 100vh;
    display: flex;
  }  

  .button-container .project-button {
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s ease, border 0.3s ease;
  }
  
  .button-container .project-button:hover {
    background-color: #555;
  }
  
  .button-container .project-button.selected {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border: 2px solid #0056b3;
  }

  .selected {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border: 2px solid #0056b3;
  }
  

  .icon {
    filter: brightness(0) invert(1);
  }
  
  .button-container button {
    background-color: #444;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s ease;
  }

  .button-container button:hover {
    background-color: #555;
  }
  

  p {
    font-family: 'Montserrat', sans-serif;
  }
  
  h1, h2, h3 {
    font-family: 'Nunito', sans-serif;
  }
  
  li{
    font-family: 'Montserrat', sans-serif;
  }

  .app-container {
    display: flex;
    flex-direction: row; /* Por defecto en escritorio */
    width: 100vw;
    height: 100vh;
  }
  
  /* Aplicar estilos a los componentes */
  .viewer-container,
  .sidebar {
    width: 50vw;
    height: 100vh;
  }
  
  /* Media Query para móviles */
  @media (max-width: 768px) {
    .app-container {
      flex-direction: column-reverse; /* Cambia a vertical en móviles */
    }
  
    .sidebar {
      width: 100vw;
      height: 70vh;
    }
    .viewer-container{
      width: 100vw;
      height: 30vh;
    }
  }
  